<section class="section-padding advertisement-banner-1 bg-cover" [style.background-image]="'url(assets/img/banner-about.jpg)'">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-lg-8 custom-center">
        <div class="advertisement-text-1 mb-30">
          <h6 class="sub-head">Was wir tun</h6>
          <h3 class="text-white heading">Hilfe und Hoffnung bringen
            für die <span class="text-color-secondary"> Menschen
                      </span>
            <!-- through <span class="text-color-secondary"> sponsorship</span>-->
          </h3>
          <p></p>
        </div>
        <div class="promo-se-icons mb-30 mb-sm-20">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="icon-box d-flex align-items-center">
                <img src="assets/img/dn3.svg" class="slab-img" alt="">
                <div class="slab">Intergration, Soziale und Zusammenhalt</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="icon-box d-flex align-items-center">
                <img src="assets/img/dn5.svg" class="slab-img" alt="" >
                <div class="slab">Gesundheit und Bildung (GAP)</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="icon-box last d-flex align-items-center">
                <img src="assets/img/dn7.svg" alt="" class="slab-img">
                <div class="slab">Entwicklung und Zusammenarbeit
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 align-self-center">
        <div class="blob play-btn ">
          <a href="https://www.youtube.com/watch?v=5WZ4k0pabNI" class="popup-youtube popup-video"> <i class="fas fa-play"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
