<section class="section-padding contact-form">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-light-black header-title">
          <h3>Adresse</h3>
        </div>
        <article id="post-60" class="post-60 page type-page status-publish hentry">
         <div class="entry-content">
            <p><span class="color"><strong>KAHEF e.V.</strong></span></p>
            <p>Bredowstr. 9<br>
              44309 Dortmund<br>
              Deutschland</p>
            <p>Telefon: +49 1590 1496003<br>
              E-Mail: hallo@kahef.de</p><br>
          </div>
        </article>
        <div class="section-header-left title">
          <h3 class="text-light-black header-title">Kontakt Aufnehmen</h3>
        </div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" >
          <div class="row clearfix">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control form-control-submit" #name name="name" formControlName="name"
                       [(ngModel)]="model.name" placeholder="Dein Name (Pflichtfeld)" required>
                <span style="color: red" *ngIf="contactForm.controls.name.errors && contactForm.controls.name.hasError('required')"></span>
              </div>
              <div class="form-group">
                <input type="email" #email name="email" [(ngModel)]="model.email" formControlName="email" class="form-control form-control-submit"
                       placeholder="Deine E-Mail-Adresse (Pflichtfeld)" required>
                <span style="color: red" *ngIf="contactForm.controls.email.errors && contactForm.controls.email.hasError('required')"></span>
              </div>
              <div class="form-group">
                <input type="text" #subject name="subject" formControlName="subject"
                       [(ngModel)]="model.subject" class="form-control form-control-submit"
                       placeholder="Betreff" required>
                <span style="color: red" *ngIf="contactForm.controls.subject.errors && contactForm.controls.subject.hasError('required')"></span>
              </div>
              <div class="form-group">
                <input type="text" #phone name="phone" formControlName="phone"
                       [(ngModel)]="model.phone" class="form-control form-control-submit"
                       placeholder="Telefon" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                                <textarea name="message"
                                          [(ngModel)]="model.message" class="form-control form-control-submit" formControlName="message"
                                          placeholder="Deine Nachricht" required [style.height.px]="225"></textarea>
                <span style="color: red" *ngIf="contactForm.controls.message.errors && contactForm.controls.message.hasError('required')"></span>

              </div>
            </div>
            <div class="col-md-12">
              <button class="btn-solid with-line" type="submit">Senden</button>
            </div>
            <!-- Form Messages -->
            <div class="col-md-12">
              <div class="service-error mt-4 w-100" *ngIf="error">
                <ngb-alert type="danger" class="mb-0 w-100" [dismissible]="false">
                  <strong>Oops!</strong> Something bad happened. Please try again later.
                </ngb-alert>
              </div>
              <div [hidden]="!submitted" class="contact-message w-100 mt-4">
                <div *ngIf="model.id" class="contact-success w-100">
                  <ngb-alert type="success" class="mb-0 w-100" [dismissible]="false">
                    <strong>Success!</strong> Contact form has been successfully submitted.
                  </ngb-alert>
                </div>
              </div>
            </div>
            <!-- Form Messages -->
          </div>
        </form>
      </div>

    </div>
  </div>
</section>
<div class="contact-map">
  <iframe [style.height.px]="300" src="https://maps.google.com/maps?ll=51.507289,7.42047&z=16&t=m&hl=de&gl=DE&mapclient=embed&q=Wittener%20Bredowstr.%209%2044309%20Dortmund&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" ></iframe>
</div>
